{% extends 'base/index.html' %}
{% load static %}
{% load cmutils %}

{% block title %}
Password Update | {{site_name}}
{% endblock title %}

{% block content %}
<div class="col-md-12 profile_pg">
    <nav class="nav nav-borders">
        <a class="nav-link" href="{% url 'dashboard-profile' %}">Profile</a>
        <a class="nav-link active ms-0" href="{% url 'dashboard-update-password' %}" >Security</a>
        <a class="nav-link" href="#" >Notifications</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-md-5">
            {% include 'profile/_details/side_profile_deatils.html' %}
            <div class="large-screen">
              <div class="row my-2 d-flex justify-content-center">
                {{ad | GetAd_size:'500x400' | safe}}
              </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <span>Change Password</span>
                </div>
                <div class="card-body">
                    <form action="{% url 'dashboard-update-password' %}" method="post">
                        {% csrf_token %}
                    <div class="row mt-1">
                        <label class="col-sm-4 col-form-label" for="inputcurrentpassword">Current Password</label>
                        <div class="col-sm-8">
                          <div class="input-group">
                            <input id="inputcurrentpassword" type="password" class="form-control" placeholder="Current Password" required name="crpassword">
                            <span class="input-group-text">
                              <i toggle="#inputcurrentpassword" class="fa fa-fw toggle-password fa-eye"></i>
                            </span>
                          </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col-sm-4 col-form-label" for="inputpassword">New Password
                          <span class="nvs-tooltip" href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip" data-bs-title="<strong>★</strong> Password must contain atleast 8 characters." data-bs-html="true">
                                <span class="badge rounded-pill text-bg-warning">i</span>
                            </span>
                        </label>
                        <div class="col-sm-8">
                          <div class="input-group">
                            <input id="inputpassword" type="password" class="form-control" placeholder="New Password" required name="password">
                            <span class="input-group-text">
                              <i toggle="#inputpassword" class="fa fa-fw toggle-password fa-eye"></i>
                            </span>
                          </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col-sm-4 col-form-label" for="inputconfpassword">Confirm Password</label>
                        <div class="col-sm-8">
                          <div class="input-group">
                            <input id="inputconfpassword" type="password" class="form-control" placeholder="Confirm Password" required name="copassword">
                            <span class="input-group-text">
                              <i toggle="#inputconfpassword" class="fa fa-fw toggle-password fa-eye"></i>
                            </span>
                          </div>
                        </div>
                    </div>
                    <button class="btn btn-default w-100 mt-3 submit-btn" type="submit">
                        Change
                    </button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block styles %}
  <style>
  .large-screen{
    display: block;
  }
  .small-screen{
    display: none;
  }
  @media screen and (max-width: 600px) {
    .large-screen{
      display: none;
    }
    .small-screen{
      display: block;
    }
  }
  </style>
{% endblock styles %}