{% extends 'ctm_admin/base/index.html' %}

{% block title %}
Contact Messages | {{site_name}} Admin
{% endblock title %}

{% block content %}
<h2>Contact Messages</h2>
<div class="row mb-2">
</div>
<div class="card py-1 px-1">
    <div class="card-body p-1">
        <div class="table-responsive">
            <div class="row">
                <div class="col-md-12 ctm_table">
                    <table class="table table-hover table-sm">
                        <thead class="table-secondary">
                            <tr>
                                <th class="text-default">Name</th>
                                <th class="text-default">Email</th>
                                <th class="text-default">Mobile No</th>
                                <th class="text-default">Message</th>
                                <th class="text-default">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in contactus_list %}
                            <tr>
                                <td>{{ i.name }}</td>
                                <td>{{ i.email }}</td>
                                <td>{{ i.phone_no }}</td>
                                <td>{{i.message}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-boundary="window" aria-expanded="false">
                                            Select an option
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-eye"></i> View Details</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-pen-to-square"></i> Edit</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-trash"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script>
    $(document).ready(function() {
        $('.table').DataTable( {
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        } );
    } );
</script>
<script>
    $('.table-responsive').on('show.bs.dropdown', function () {
        $('.table-responsive').css( "overflow", "inherit" );
   });
   
   $('.table-responsive').on('hide.bs.dropdown', function () {
        $('.table-responsive').css( "overflow", "auto" );
   })
</script>
{% endblock scripts %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
<style>
    .tb-date{
        min-width: 120px;
    }
    .ctm_table .form-control{
        margin-top: 5px;
        margin-right: 5px;
    }
    .ctm_table .pagination{
        margin-right: 5px;
    }
    .ctm_table .form-select{
        margin-top: 5px;
    }
</style>
{% endblock styles %}