{% extends 'base/index.html' %}
{% load static %}
{% load cmutils %}

{% block title %}
Test Preparation | {{site_name}}
{% endblock title %}

{% block styles %}
<style>
    .container-bd {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
    }

    .container-bd p {
        color: #4f4f4f;
        font-size: 16px;
        font-weight: 500;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="row pt-3">
    <h2
        class="text-center bg-white shadow-sm py-1 bg-opacity-75 text-dark fw-bold border border-default border-2 rounded-pill">
        TEST PREPARATION</h2>
    <div class="container-bd mt-4 px-4">
        <p>Mastering admission exams, aptitude tests, and language proficiency assessments is crucial for pursuing international education. These tests can pose challenges without the right approach. At our education consulting service, we recognize the importance of effective test preparation in evaluating fundamental intelligence, language proficiency, and communication skills. Our coaching services are tailored to help students successfully navigate these examinations and meet international standards in other countries.</p>

    <p>Why choose our test preparation services?</p>

    <ul>
        <li><strong>Expert Trainers:</strong> Learn from experienced and knowledgeable trainers who guide you through every aspect of the test.</li>
        <li><strong>Personal Attention:</strong> Receive personalized attention to address your specific needs and challenges.</li>
        <li><strong>Quality Study Materials:</strong> Access comprehensive study materials curated to enhance your understanding and preparation.</li>
        <li><strong>Effective Teaching:</strong> Experience teaching methods tailored for optimal comprehension and retention.</li>
        <li><strong>Answering Techniques:</strong> Learn effective techniques to approach different types of questions in exams.</li>
        <li><strong>Assignments & Mock Tests:</strong> Practice with assignments and mock tests to assess your progress and readiness for the actual exam.</li>
    </ul>
    <div class="row my-1 d-flex justify-content-center">
        {{ad | GetAd_size:'500x300' | safe}}
      </div>

    <p>For standard tests, we offer online coaching, providing you the convenience of learning from anywhere. Remember, coaching makes you more prepared. Join now for coaching in the following admissions tests:</p>

    <ul>
        <li>IELTS</li>
        <li>TOEFL</li>
        <li>PTE</li>
        <li>OTE</li>
        <li>DUOLINGO</li>
        <li>GRE</li>
        <li>GMAT</li>
        <li>SAT</li>
    </ul>

    <p>Ready to excel in your tests? Enter your details to start online coaching. Our team will get in touch with you to proceed and provide information on costs and training requirements. Your success in international education starts with effective test preparation.</p>

    </div>
    <div class="row my-1 d-flex justify-content-center">
        {{ad | GetAd_size:'500x300' | safe}}
        {{ad | GetAd_size:'300x200' | safe}}
      </div>
</div>
{% endblock content %}