{% extends 'base/index.html' %}
{% load static %}
{% load cmutils %}

{% block title %}
Cost Of Studing In AUSTRALIA | {{site_name}}
{% endblock title %}

{% block styles %}
<style>
    .container-bd {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
    }
    .container-bd p {
        color: #4f4f4f;
        font-size: 16px;
        font-weight: 500;
    }
    table, th, td {
        border:1px solid blueviolet;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="row pt-3">
    <h2 class="text-center bg-white shadow-sm py-1 bg-opacity-75 text-dark fw-bold border border-default border-2 rounded-pill">COST OF STUDYING IN AUSTRALIA</h2>
    <div class="container-bd mt-4 px-4">
        <p>The cost of studying in Australia for international students varies depending on the university, course, and location.Accomodation costs around AUD 21,041 per year.The average tuition fee to study in Australia for undergraduates is AUD 31,000 and for postgraduates was AUD 32,000 approximately.For exact fee details,you can check the official webpage of that particular university and course.</p>

        <div class="row my-1 d-flex justify-content-center border border-default">
            <h6 class="text-center fw-bold my-1">Ads</h6>
            {{ad | GetAd_size:'500x400' | safe}}
          </div>
        <h2>Cost of Undergraduate And Postgraduate Degree in Australia</h2>
        <p>Cost of Undergraduate Degree for International Students in Australia varies between AUD 20,000 to $45,000 per year.The tuition costs vary depending on the degree program and university.
        </p>
        <p>Cost of Postgraduate Degree for International Students in Australia ranges from AUD 22,000 to 50,000.</p>

        <h2>Popular Universities in Australia</h2>
        <table class="my-2 mb-5 table table-striped table-hover" style="width:100%">
            <thead class="table-default">
                <tr>
                    <th>Universities</th>
                    <th>Popular Courses Offered</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>University of the Sunshine Coast</td>
                <td>BBA,MBA,BE/BTech,MIM</td>
                <td>Queensland</td>
            </tr>
            <tr>
                <td>Charles Sturt University</td>
                <td>MBA,BBA,MS</td>
                <td>New South Wales</td>
            </tr>
            <tr>
                <td>Charles Sturt University</td>
                <td>MBA,MS,BBA</td>
                <td>New South Wales</td>
            </tr>
            <tr>
                <td>Edith Cowan University</td>
                <td>MS,MBA,BE/BTech,MIM,MEng</td>
                <td>Perth</td>
            </tr>
            <tr>
                <td>University of Southern Queensland</td>
                <td>MS,MBA,BE/BTech,MIM,MEng,BBA,BSc</td>
                <td>Queensland</td>
            </tr>
        </tbody>
        </table>

    <div class="row my-1 d-flex justify-content-center border border-default">
        <h6 class="text-center fw-bold my-1">Ads</h6>
        {{ad | GetAd_size:'500x400' | safe}}
        {{ad | GetAd_size:'300x200' | safe}}
      </div>
</div>
{% endblock content %}