{% extends 'base/index.html' %}
{% load static %}
{% load cmutils %}

{% block title %}
GRE/GMAT/CAT coaching | {{site_name}}
{% endblock title %}

{% block styles %}
<style>
    .container-bd {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
    }

    .container-bd p {
        color: #4f4f4f;
        font-size: 16px;
        font-weight: 500;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="row pt-3">
    <h2
        class="text-center bg-white shadow-sm py-1 bg-opacity-75 text-dark fw-bold border border-default border-2 rounded-pill">
        GRE/GMAT/CAT Coaching</h2>
    <div class="container-bd mt-4 px-4">
        <p>Get ready for success in GRE, GMAT, and CAT exams with {{site_name}}. Our expert tutors and personalized approach will guide you to excel in every section.</p>
    
        <p>Benefit from tailored curricula, interactive learning, and access to advanced study materials. Our flexible schedules fit your busy lifestyle, allowing you to balance preparation with ease.</p>
        
        <p>Choose {{site_name}} for top-notch coaching. <a href="#">Enroll now</a> to unlock your full potential and succeed in GRE, GMAT, and CAT!</p>
    </div>
    <div class="row mb-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a href="#" class="btn btn-default w-100">Apply Now</a>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row my-1 d-flex justify-content-center">
        {{ad | GetAd_size:'500x400' | safe}}
        {{ad | GetAd_size:'300x200' | safe}}
    </div>
</div>
{% endblock content %}