<div class="card"  data-aos="fade-left" data-aos-delay="50">
    <div class="card-title justify-content-center m-0 text-center p-2">
      <h3 class="m-0 p-0">Apply for the Course</h3>
    </div>
    <div class="card-body">
      <form action="{% url 'applies-courses-apply' av_course.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h5 class="mb-1"><strong>Basic Information</strong></h5>

        <div class="row mt-1">
          <label class="col-sm-3 col-form-label" for="inputemail">Email address</label>
          <div class="col-sm-9">
            <input required readonly disabled type="email" name="email" placeholder="abc@gmail.com" class="form-control" id="inputemail"
            value="{{ request.user.email }}" />
          </div>
        </div>

        <div class="row mt-1">
          <label class="col-sm-3 col-form-label" for="inputfullname">Full Name</label>
          <div class="col-sm-9">
            <input required readonly disabled type="text" name="fullname" placeholder="Fullname" class="form-control"
            id="inputfullname" value="{{ request.user.full_name }}" />
          </div>
        </div>

        <div class="row mt-1">
          <label for="inputmobile_no" class="col-sm-3 col-form-label">Mobile No</label>
          <div class="col-sm-9">
            <input readonly disabled required type="tel" class="form-control" name="mobile_no" id="inputmobile_no" maxlength="18"
              value="{{ request.user.mobile_number }}">
          </div>
        </div>

        <div class="row mt-1">
          <label class="col-sm-3 col-form-label" for="inputcountry">Country</label>
          <div class="col-sm-9">
            <select readonly disabled id="inputcountry" name="country" data-control="select2" class="form-select" required>
              {% if av_course.country %}
                <option selected>{{cnt_a}}</option>
              {% endif %}
            </select>
          </div>
        </div>

        <div class="row mt-1">
          <label class="col-sm-3 col-form-label" for="inputcourse">Course <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <select id="inputcourse" name="course" data-control="select2" class="form-select" required>
              <option></option>
              <option>Undergraduate</option>
              <option>Postgraduate</option>
              <option>PHD</option>
              <option>Foundation</option>
              <option>A-Level</option>
              <option>Boarding School</option>
              <option>Diploma</option>
              <option>English Study (ELT/EFL)</option>
              <option>IB</option>
              <option>IELTS at SI-UK</option>
              <option>IGCSE</option>
              <option>Summer Course</option>
            </select>
          </div>
        </div>
      
        <div class="row mt-1">
          <label class="col-sm-3 col-form-label" for="inputcollege_preferred">Preferred College <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <select id="inputcollege_preferred" name="preferred_college[]" data-control="select2" class="form-select" multiple="multiple">
              {% if preferred_college_values %}
                  {% for i in preferred_college_values %}
                      <option selected>{{i}}</option>
                  {% endfor %}
              {% endif %}
            </select>
          </div>
        </div>
      
        <div class="row mt-1">
          <label class="col-sm-3 col-form-label" for="inputabroad_year">Year of Study<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input required type="number" min="2000" max="2099" step="1" name="abroad_year" placeholder="Year" maxlength="15" class="form-control"
            id="inputabroad_year" value="{{ FieldValues.abroad_year }}" />
          </div>
        </div>
      
        <div class="row mt-1">
          <label class="col-sm-3 col-form-label" for="inputseason">Season <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <select id="inputseason" name="season" data-control="select2" class="form-select" required>
              <option></option>
              <option value="fall">Fall Semester</option>
              <option value="spring">Spring Semester</option>
              <option value="summer">Summer Semester/Trimester</option>
              <option value="winter">Winter Semester/Trimester</option>
              <option value="winter">other</option>
            </select>
          </div>
        </div>

        <button class="btn btn-default w-100 mt-3 submit-btn" type="submit">Submit</button>
        
      </form>
    </div>
  </div>