{% extends 'base/index.html' %}


{% block content %}
    <h2>Terms And Conditions</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis officiis quaerat eius mollitia, molestias,
        tenetur assumenda quisquam laboriosam architecto minima iusto expedita, enim autem ipsam beatae? Unde sit iste
        voluptas.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis officiis quaerat eius mollitia, molestias,
        tenetur assumenda quisquam laboriosam architecto minima iusto expedita, enim autem ipsam beatae? Unde sit iste
        voluptas.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis officiis quaerat eius mollitia, molestias,
        tenetur assumenda quisquam laboriosam architecto minima iusto expedita, enim autem ipsam beatae? Unde sit iste
        voluptas.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis officiis quaerat eius mollitia, molestias,
        tenetur assumenda quisquam laboriosam architecto minima iusto expedita, enim autem ipsam beatae? Unde sit iste
        voluptas.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis officiis quaerat eius mollitia, molestias,
        tenetur assumenda quisquam laboriosam architecto minima iusto expedita, enim autem ipsam beatae? Unde sit iste
        voluptas.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis officiis quaerat eius mollitia, molestias,
        tenetur assumenda quisquam laboriosam architecto minima iusto expedita, enim autem ipsam beatae? Unde sit iste
        voluptas.</p>
    
{% endblock content %}