{% extends 'base/index.html' %}
{% load static %}
{% load cmutils %}

{% block title %}
  Apply Foreign Language Coaching | {{site_name}}
{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-3">
      <img class="img-fluid mb-4" height="350" width="350"
        src="{% static 'main/img/apply-courses-logo.png' %}"
        alt=""
        data-aos="zoom-out" data-aos-delay="100">
    <div class="row my-1 d-flex justify-content-center">
      {{ad | GetAd_size:'300x200' | safe}}
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-title p-2">
        <h2 class="text-center">Apply for Foreign Language Coaching</h2>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
                <div class="mt-2 form-group">
                    {{field.label_tag}}
                    <select id="id_{{field.name}}" name="{{field.name}}" class="form-select">
                        {% for id,value in field.field.choices %}
                        <option value="{{id}}">{{value}}</option>
                        {% endfor %}
                    </select>
                    {% if field.errors %}
                        <div class="alert alert-danger m-0 p-0">{{ field.errors }}</div>
                    {% elif error_message %}
                        <div class="alert alert-danger m-0 p-0">{{ error_message }}</div>
                    {% endif %}
                </div>
                {% endfor %}
              <button type="submit" class="btn btn-primary my-3 w-100">Apply</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3 border border-default">
    <h6 class="text-center fw-bold my-1">Ads</h6>
    <div class="row my-1 d-flex justify-content-center">
      {{ad | GetAd_size:'300x600' | safe}}
  </div>
  </div>
</div>
{% endblock %}